<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Inscrições para técnico integrado seguem abertas</title>
  
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link href="../css/estilo.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <div class="container">


<h1>Notícias recentes</h1>
<h2>Inscrições para técnico integrado seguem abertas</h2>
<h3>São 1.440 vagas em 11 opções de cursos, distribuídos nos dez campi. Seleção será feita com base em notas do 7º ano do ensino fundamental</h3>

<h4>Seguem abertas até 6 de outubro as inscrições na seleção de estudantes para cursos técnicos integrados ao ensino médio, ofertados pelo Instituto Federal de Mato Grosso do Sul (IFMS) e com ingresso no primeiro semestre letivo de 2022.
<br>
<p>
As 1.440 vagas são distribuídas nos dez campi do IFMS, localizados nos municípios de Aquidauana, Campo Grande, Corumbá, Coxim, Dourados, Jardim, Naviraí, Nova Andradina, Ponta Porã e Três Lagoas.
<br>
<p>
São oferecidas 11 opções de cursos técnicos integrados: Agricultura, Agropecuária, Alimentos, Aquicultura, Desenvolvimento de Sistemas, Edificações, Eletrotécnica, Informática, Informática para Internet, Mecânica e Metalurgia. 
<br>
<p>
A seleção será feita por meio de análise das notas/conceitos obtidos pelos candidatos nas disciplinas de Língua Portuguesa, Matemática, Ciências, História e Geografia, no 7º ano do ensino fundamental.
<br>
<p>
O edital com todas as regras do processo seletivo está publicado na Central de Seleção do IFMS.</h4>

    <script src="script.js"></script>

    </div>
  </body>
</html>