<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Notícias Recentes</title>
  
<link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
<link href="css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">

<h1 class="titulo">Notícias recentes</h1>
<h2><a href="noticias/01" class="verde">Inscrições para técnico integrado seguem abertas</a></h2>
<h3 class="sub-titulo">São 1.440 vagas em 11 opções de cursos, distribuídos nos dez campi. Seleção será feita com base em notas do 7º ano do ensino fundamental</h3>

<script src="script.js"></script>

</div>
</body>
</html>